/* ----------- phone ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    body, html{
      max-height: 812px;
      overflow: hidden;
    }
    h1{
      font-size: 1em;
    }
    h6 {
    font-size: x-small;
   
  }
  p{
    font-size: x-small;
  }
  .hamburger{
    z-index: 7;
  }
    .nav-links.open {
      clip-path: circle(10000px at 90%);
      -webkit-clip-path: circle(10000px at 90%);
      width: 100%;
      z-index: 6;
  }
  #dark-mode{
    top: 15vh;
}
/* home page */
  #purple-abstract-mobile{
    display: block;
    width: 70vw;
    height:50vh; 
}
#purple-abstract{
  display: none;
}
#banner-panel{
  height: 30vh;
  width: 70vw;
  right: 55vw;
 top: 30vh;
}
#banner-image{
  right: 8vw;
}

#banner-name{
  width: fit-content;
  margin: 5px;
}
#banner-headline{
  width: fit-content;
  margin: 5px;
}
#banner-text{
  width: fit-content;
  margin: 5px;
}
#social{
  height: 8vh;
  width: 30vw;
  /* float: right; */
  top: 58.5vh;
  left: 2vw; 
  /* right */
  z-index: 4;
}
/* about page */
#about-panel{
  height: 50vh;
  width: 70vw;
  right: 55vw;
 top: 10vh;
}
#about-social{
  height: 8vh;
  width: 30vw;
  /* float: right; */
  top: 50vh;
  left: 2vw; 
  /* right */
  z-index: 4;
}
/* gallery page */
#gallery-panel{
  margin: 0 5vw;
  
}
#right-side{
  margin: 20vh 5vw 0 3vw;
}
.image-text{
width: 30vw;
margin: 0 1vw 5vh 1vw;
left: 5vw;
}
#gallery-social{
  width: 30vw;
  height: 10vh
  }

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- tablet----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {


}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}


