/* ----------- phone ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    body, html{
      max-height: 812px;
      overflow: hidden;
    }
    h1{
      font-size: 1em;
    }
    h6 {
    font-size: x-small;
   
  }
  p{
    font-size: x-small;
  }
  .hamburger{
    z-index: 7;
  }
    .nav-links.open {
      clip-path: circle(10000px at 90%);
      -webkit-clip-path: circle(10000px at 90%);
      width: 100%;
      z-index: 6;
  }
  #dark-mode{
    top: 15vh;
}
  #purple-abstract-mobile{
    display: block;
}
#purple-abstract{
  display: none;
}
#banner-panel{
  height: 30vh;
  width: 60vw;
  position: relative;
  right: 30vw;
 bottom: 10vh;
}
#banner-image{
  right: 8vw;
}

#banner-name{
  width: fit-content;
  margin: 5px;
}
#banner-headline{
  width: fit-content;
  margin: 5px;
}
#banner-text{
  width: fit-content;
  margin: 5px;
}
#social{
  height: 8vh;
  width: 30vw;
  /* float: right; */
  top: 22vh;
  left: 2vw; 
  /* right */
  z-index: 4;
  

}
  }

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- tablet----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {


}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}


