/* global */
html {
	margin: 0;
	padding: 0;
    height: 100%;
    overflow: hidden;
	--bg: #f3f3f3;
    --bg-panel: #d7d8da;
    --bg-panel-2: #aeb2b7;
    --color-headings: #272627;
    --color-subheadings: #aeb2b7;
	--color-text: #272627;
	--color-off: #aeb2b7;
    --color-on: #272627;
    font-family: 'Poiret One', cursive;
    /* font-family: 'Limelight', cursive; */
}
html[data-theme='dark'] {
	--bg: #272627;
    --bg-panel: #aeb2b7;
    --bg-panel-2: #d7d8da;
    --color-headings: #f3f3f3;
    --color-subheadings: #272627;
	--color-text: #f3f3f3;
	--color-off: #aeb2b7;
	--color-on: #7f8084;
}
/* scrollbar */
::-webkit-scrollbar { 
    display: none; 
}
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }
body{
    height: 100vh;
    background-color: var(--bg);
    font-family: 'Poiret One', cursive;
}
    /* text */
    h1 {
        color: var(--color-headings);
        font-size: 5.5em;
    }
    h6 {
        color: var(--color-subheadings);
        font-weight: bold;
    }
    p{
        color: var(--color-text);
    }
    a{
        color: #2f387f;
    }
    a:hover{
        color: #2f387f;
    }
/* dark mode */
#dark-mode{
    display:flex;
    flex-direction: column;
    position: relative;
    top: 35vh;
    margin-left: 1.5vw;
}
input[type='checkbox'] {
	height: 0;
	width: 0;
    visibility: hidden;
}
#toggle-day{
    background-color: var(--color-on);
}
#toggle-night{
    background-color: var(--color-off);
}
/* navigation */
/* #screen{
    background-color: var(--color-text);
    opacity: .3;
    width: 100%;
    height: 100%;
    z-index: 4;
} */
#navigation{
    background: black;
    width:85vw;
    height: 10vh;
    margin: 20px 0 0 20px;
    z-index: 5;
  
}
.navbar-brand{
    color: var(--color-off);
    margin: 2vh 1.5vw;
}
nav {
    /* height: 10vh; */
    width: 5%;
    float: right;
    background: transparent;
    position: relative;
    padding-top: 2vh;
    margin-right: 1.5vw;
}

.nav-links {
    display: flex;
    list-style: none;
    /* width: 50%;
    height: 100%; */
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    position: fixed;
    background-color: var(--bg);
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    clip-path: circle(100px at 110% -10%);
    -webkit-clip-path: circle(100px at 110% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 4;
    top: 0;
    right: 0;
}

.nav-links li {
    opacity: 0;
    z-index: 6;
}

.nav-links li a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 16px;
    z-index: 6;
}

.line {
    height: .5vh;
    width: 2vw;
    margin-top: 1vh;
    opacity: 1;
    background-color: var(--color-off);
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    z-index: 5;
}

.nav-links.open {
    clip-path: circle(100vw at 90%);
    -webkit-clip-path: circle(100vw at 90%);
    pointer-events: all;
    top: 0;
    right: 0;

}

.nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
    z-index: 6;
}

.nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
    z-index: 6;
}

.nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
    z-index: 6;
}

.nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
    z-index: 6;
}

.nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
    z-index: 6;
}

.nav-links li:nth-child(6) {
    transition: all 0.5s ease 1.2s;
    z-index: 6;
}

li.fade {
    opacity: 1;
    z-index: 6;
    /* color: white; */
}

.fade:not(.show) {
    opacity: 1;
}

 
/* home content */
#banner{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 5% 10% 20%;
    margin: 0 80px;
    padding: 0;   
}
#banner-panel{
    background-color: var(--bg-panel);
    height: 58vh;
    width: 50vw;
    position: relative;
    right: 15vw;
    /* top: 10vh; */
}
#banner-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
    position: relative;
    bottom: 15vh;
  margin-top: 2vh;
}
#banner-name{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 50px;

}
#banner-headline{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 50px;
}
#banner-text{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 35vw;
    margin: 50px;
}
#purple-abstract-mobile{
    display: none;
}
#social{
    height: 50vh;
    width: 15vw;
    background-color: var(--bg-panel-2);
    float: right;
    transform: rotate(90deg);
    position: relative;
    top: 30vh;
    left: 20vw;
}
.social-link{
  margin: 17px;
  position: relative;
  top: 10px;
}
/* gallery page */
#gallery-dark{
height:0;
}
#gallery-social{
    height: 15vh;
    width: 15vw;
    background-color: var(--bg-panel-2);
    float: right;
    transform: rotate(90deg);
    position: fixed;
  bottom: 0;
    right: 0;
    margin-bottom: 50px;
}
#gallery-panel{
    height: 90%;
    padding-top:10vh;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}
/* #left-side{
  
  
} */
#right-side{
  margin: 20vh 0 0 8vw;
}
.image-text{
    background-color: var(--bg-panel);
    height: 16.5vh;
    width: 15vw;
    margin: 0 3vw 5vh 3vw;
    padding: 5px;
    position: relative;
    bottom: 3vh;
}
.gallery-tag{
    float: right;
    /* margin: 5px; */
}
/* about page */
#about-panel{
    background-color: var(--bg-panel);
    height: 55vh;
    width: 50vw;
    position: relative;
    right: 15vw;
    /* top: 10vh; */
}
#about-social{
    height: 50vh;
    width: 15vw;
    background-color: var(--bg-panel-2);
    float: right;
    transform: rotate(90deg);
    position: relative;
    top: 30vh;
    left: 20vw;
}
/* contact page */
#contact-panel{
    background-color: var(--bg-panel);
    height: 60vh;
    width: 50vw;
    position: relative;
    right: 15vw;
    /* top: 10vh; */
}
#fs-frm-inputs{
    display: flex;
    flex-direction: column;
    color: var(--color-text);
}
#full-name{
width: 20vw;
margin: 0 0 2vh 15vw;
background-color: var(--bg);
color: var(--color-text);

}
#email-address{
    width: 20vw;
    margin: 0 0 2vh 15vw;
    background-color: var(--bg);
    color: var(--color-text);
}
#message{
    width: 20vw;
    margin: 0 0 2vh 15vw;
    background-color: var(--bg);
    color: var(--color-text);
}
#submit{
    width: 10vw;
border-style: solid;
border-color: #272627;
margin: 0 0 2vh 20vw;
background-color: var(--bg-panel);
/* color: var(--color-text); */
}
/* item pages */
.big-image{
    display: block;
}
.big-image-mobile{
    display: none;
}
#item-panel{
    background-color: var(--bg-panel);
    height: 58vh;
    width: 50vw;
    position: relative;
    right: 15vw;
    /* top: 10vh; */
}

#item-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
    position: relative;
    bottom: 15vh;
  margin-top: 2vh;
}
#item-number{
    margin: 10px 120px;
}
#item-name{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 50px 200px;

}
#item-headline{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 50px 200px;
}
#item-text{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 25vw;
    margin: 50px 250px;
}
#item-social{
    height: 50vh;
    width: 15vw;
    background-color: var(--bg-panel-2);
    float: right;
    transform: rotate(90deg);
    position: relative;
    top: 30vh;
    left: 20vw;
}
#item-back{
    float:right;
    margin: 50px 250px;
}
/* media queries */
/* ----------- phone ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    body, html{
      max-height: 812px;
      overflow: hidden;
    }
    h1{
      font-size: 1em;
    }
    h6 {
    font-size: x-small;
   
  }
  p{
    font-size: x-small;
  }
  .hamburger{
    z-index: 7;
  }
    .nav-links.open {
      clip-path: circle(10000px at 90%);
      -webkit-clip-path: circle(10000px at 90%);
      width: 100%;
      z-index: 6;
  }
  #dark-mode{
    top: 15vh;
}
/* home page */
  #purple-abstract-mobile{
    display: block;
    width: 70vw;
    height:50vh; 
}
#purple-abstract{
  display: none;
}
#banner-panel{
  height: 30vh;
  width: 70vw;
  right: 55vw;
 top: 30vh;
}
#banner-image{
  right: 8vw;
}

#banner-name{
  width: fit-content;
  margin: 5px;
}
#banner-headline{
  width: fit-content;
  margin: 5px;
}
#banner-text{
  width: fit-content;
  margin: 5px;
}
#social{
  height: 8vh;
  width: 30vw;
  /* float: right; */
  top: 58.5vh;
  left: 2vw; 
  /* right */
  z-index: 4;
}
/* about page */
#about-panel{
  height: 50vh;
  width: 70vw;
  right: 55vw;
 top: 10vh;
}
#about-social{
  height: 8vh;
  width: 30vw;
  /* float: right; */
  top: 50vh;
  left: 2vw; 
  /* right */
  z-index: 4;
}
/* gallery page */
#gallery-panel{
  margin: 0 5vw;
  
}
#right-side{
  margin: 20vh 5vw 0 3vw;
}
.image-text{
width: 30vw;
margin: 0 1vw 5vh 1vw;
left: 5vw;
}
#gallery-social{
  width: 30vw;
  height: 10vh
  }
  /* contact page */
  #full-name{
    width: 50vw;
    margin: 0 0 2vh 10vw;
    background-color: var(--bg);
    color: var(--color-text);
    
    }
    #email-address{
        width: 50vw;
        margin: 0 0 2vh 10vw;
        background-color: var(--bg);
        color: var(--color-text);
    }
    #message{
        width: 50vw;
        height: 10vh;
        margin: 0 0 2vh 10vw;
        background-color: var(--bg);
        color: var(--color-text);
    }
    #submit{
        width: 20vw;
    border-style: solid;
    border-color: #272627;
    margin: 0 0 2vh 25vw;
    background-color: var(--bg-panel);
    /* color: var(--color-text); */
    }
    #contact-panel{
        height: 40vh;
        width: 70vw;
        right: 55vw;
       top: 30vh;
      }
      /* item pages */
      .big-image{
        display: none;
    }
    .big-image-mobile{
        display: block;
        /* height: 70vh; */
        width: 70vw;
    }
    #item-panel{
        background-color: var(--bg-panel);
        height: 38vh;
        width: 70vw;
        top: 20vh;
        right:60vw
    }
    
    #item-image{
        right:7vw;
      margin-top: 1vh;
    }
    #item-number{
        margin: 50px 20px;
    }
    #item-name{
        margin: 10px 20px;
        position: relative;
        bottom: 5vh;
    
    }
    #item-headline{
        margin: 10px 20px;
        position: relative;
        bottom: 5vh;
    }
    #item-text{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        width: 25vw;
        margin: 10px 40px;
        position: relative;
        bottom: 5vh;
    }
    #item-back{
        float:right;
        margin: 10px 20px;
        position: relative;
        bottom: 5vh;
    }
    #item-social{
        height: 10vh;
        width: 35vw;
        background-color: var(--bg-panel-2);
        float: none;
        top: 50vh;
        left: 0vw;
        right: 90vw;
    }
 
  }
/* Landscape */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    h1{
        font-size: 1em;
      }
      h6 {
      font-size: x-small;
     
    }
    p{
      font-size: x-small;
    }
    /* home page */
    #banner-name{
        width: fit-content;
        margin: 15px;
      }
      #banner-headline{
        width: fit-content;
        margin: 15px;
      }
      #banner-text{
        width: fit-content;
        margin: 15px;
      }
      #social{
        top: 28vh;
        left: 24vw; 
      }
/* gallery page */
    .image-text{
      width: 30vw;
      height: 40vh;
      } 
/* about page */
#artist{
    height: 70vh;
    position: relative;
    right: 3vw;
}
#about-panel{
    height: 50vh;
    width: 68vw;
    right: 25vw;
   /* top: 10vh; */
  }
  #about-social{
    /* height: 8vh;
    width: 30vw; */
    /* float: right; */
    top: 20vh;
    left: 33vw; 
    /* right */
    /* z-index: 4; */
  }
  /* contact page */
  #fs-frm-inputs{
    flex-direction: row;
}
#full-name{
    width: 20vw;
    margin: 0 0 2vh 3vw;
}
#email-address{
    width: 20vw;
    margin: 0 0 2vh 3vw;
    position: relative;
    bottom: 10vh;
    left: 23vw
}
#message{
    height: 15vh;
    position: relative;
    bottom: 10vh;
    right: 12vw;
}
#submit{
    position: relative;
    bottom: 22vh;
    left: 12vw;
}
/* item pages */
.big-image{
    display: none;
}
.big-image-mobile{
    display: block;
    height: 80vh;
    position: relative;
    bottom: 8vh;
}
#item-panel{
    /* height: 38vh;
    width: 70vw; */
    top: 0vh;
    /* bottom: 30vh; */
    right: 20vw 
}

#item-number{
    margin: 10px 30px;
}
#item-name{
    margin: 10px 70px;
}
#item-headline{
    margin: 10px 70px;
}
#item-text{
    margin: 10px 90px;
}
#item-back{
    float:right;
    margin: 10px 20px;
    position: relative;
    bottom: 5vh;
}
#item-social{
    top:20vh;
    /* left: 0vw;
    right: 90vw;  */
}
}

/* ----------- tablet----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {


}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}